{% extends 'layouts/application.html' %}

{% block content %}






<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>


<div id="impress">

<!-- ============ STEP 1 ================= -->
  <section class="step">
    <div class="top">
      <h1>Are you<br>
        <b class="big">new</b> <br>
        <span class="cust1">to HZ?</span></h1>
    </div>
    <div class="bot">
      <button id="yes1" class="btn btn-warning first">Define New?</button>
      <button id="no1" class="btn btn-warning first">No Way!</button><br>
      <button id="yesOne" class="btn btn-warning first">Yes!</button>
      <button id="noOne" class="btn btn-warning first">No</button>
    </div>
  </section>
<!-- ============ STEP 2 ================= -->
  <section id="test" class="step" data-z="-800" data-x="-1500" data-scale="1.3">
    <div class="top2">
      <h1>Are you a <i>comeback</i> kid?</h1>
    </div>
    <div class="bot">
      <button id="yes2" class="btn btn-warning">Yes!</button>
      <button id="no2" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 3 ================= -->
  <section class="step" data-x="-1500" data-z="-1800" data-rotate-y="-180" data-scale="1.3">
    <div class="top2">
      <h1>Are you an <i>original?</i></h1>
    </div>
    <div class="bot">
      <button id="yes3" class="btn btn-warning">Yes!</button>
      <button id="no3" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 4 ================= -->
  <section id="test2" class="step" data-x="-1800" data-z="-1100" data-rotate-y="-90">
    <div class="left">
      <h1>Who <br><span class="cor">are you?</span></h1>
    </div>
    <div class="right">
      <button id="no4" class="try-again">Try Again</button>
    </div>
  </section>
<!-- ============ STEP 5 ================= -->
  <section class="step" data-x="1500" data-z="-1800" data-rotate-y="-180" data-scale="1.3">
    <div class="top2">
      <h1>Do you know <i>everyone</i> in the agency?</h1>
    </div>
    <div class="bot">
      <button id="yes5" class="btn btn-warning">Yes!</button>
      <button id="no5" class="btn btn-warning">No</button>
    </div>
  </section>
  <!-- ============ STEP 6 ================= -->
  <section class="step" data-x="1500" data-scale="1.3">
    <div class="left left2">
      <h1><span class="cor">Dont</span><br>lie</h1>
    </div>
    <div class="right">
      <button id="no6" class="try-again">Try Again</button>
    </div>
  </section>



<!-- ============ STEP 7 ================= -->
 <section class="step"  data-x="3000" daya-y="2000" data-z="-1000" data-scale="1">
    <div class="top2">
      <h1>Are you tired?</h1>
    </div>
    <div class="bot">
      <button id="yes7" class="btn btn-warning">Yes!</button>
      <button id="no7" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 8 ================= -->
  <section class="step" data-z="-1000" data-x="3000" data-rotate-x="90" data-scale="1">
    <div class="top2">
      <h1>Should you be awake?</h1>
    </div>
    <div class="bot">
      <button id="yes8" class="btn btn-warning">I guess so</button>
      <button id="no8" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 9 ================= -->
  <section class="step" data-z="2000" data-x="6000" data-scale="1">
    <div class="top2">
      <h1>Coffee Or Tea?</h1>
    </div>
    <div class="bot">
      <button id="yes9" class="btn btn-warning">Coffee!</button>
      <button id="no9" class="btn btn-warning">Tea!</button>
    </div>
  </section>
  <!-- ============ STEP 10 ================= -->
  <section class="step" data-y="" data-z="6000" data-x="3000" data-rotate-y="-90" data-rotate-x="-90" data-scale="3">
    <div class="top2">
      <h1>Do you like sitting in traffic?</h1>
    </div>
    <div class="bot">
      <button id="yes10" class="btn btn-warning">Yes!</button>
      <button id="no10" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 11 ================= -->
  <section class="step" data-y="1200" data-z="6000" data-x="3000" data-rotate-y="" data-rotate-x="" data-scale="1">
    <div class="top2">
      <h1>Do you like to workout?</h1>
    </div>
    <div class="bot">
      <button id="yes11" class="btn btn-warning">Yes!</button>
      <button id="no11" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 12 ================= -->
  <section class="step" data-y="3000" data-z="6000" data-x="-1200" data-rotate-y="" data-rotate-x="-20" data-scale="4">
    <div class="top2">
      <h1>Do you want to be bikini/speedo bod ready?</h1>
    </div>
    <div class="bot">
      <button id="yes12" class="btn btn-warning">Yes!</button>
      <button id="no12" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 13 ================= -->
  <section class="step" data-y="3000" data-z="6000" data-x="3000" data-rotate-y="" data-rotate-x="" data-scale="-4">
    <div class="top2">
      <h1>Chai Tea skim latte or muscle milk?</h1>
    </div>
    <div class="bot">
      <button id="yes13" class="btn btn-warning">Yes!</button>
      <button id="no13" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 14 ================= -->
  <section class="step" data-y="6000" data-z="3000" data-x="3000" data-rotate-y="" data-rotate-x="" data-scale="5">
    <div class="top2">
      <h1>6 pack or headstand?</h1>
    </div>
    <div class="bot">
      <button id="yes14" class="btn btn-warning">Of Beer?</button>
      <button id="no14" class="btn btn-warning">Headstand!</button>
    </div>
  </section>
<!-- ============ STEP 15 ================= -->
  <section class="step" data-y="6000" data-z="5000" data-x="" data-rotate-y="" data-rotate-x="" data-scale="-2">
    <div class="top2">
      <h1>Do you like free pizza</h1>
    </div>
    <div class="bot">
      <button id="yes15" class="btn btn-warning">Yes!</button>
      <button id="no15" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 16 ================= -->
  <section class="step" data-y="10000" data-z="9000" data-x="" data-rotate-y="" data-rotate-x="-10" data-scale="3">
    <div class="top2">
      <h1>Because its unhealthy?</h1>
    </div>
    <div class="bot">
      <button id="yes16" class="btn btn-warning">Yes</button>
      <button id="no16" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 17 ================= -->
  <section class="step" data-y="-2000" data-z="" data-x="" data-rotate-y="180" data-scale="-7">
    <div class="top2">
      <h1>Do you know Potomac(pizza) like the back of your hand?</h1>
    </div>
    <div class="bot">
      <button id="yes17" class="btn btn-warning">Yes!</button>
      <button id="no17" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 18 ================= -->
  <section class="step" data-y="6000" data-z="" data-x="-1200" data-rotate-y="" data-rotate-x="" data-scale="2">
    <div class="top2">
      <h1>Are you sure your an OG?</h1>
    </div>
    <div class="bot">
      <button id="yes18" class="btn btn-warning">Yes!</button>
      <button id="no18" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 19 ================= -->
  <section class="step" data-y="300" data-z="6000" data-x="-1200" data-rotate-y="" data-rotate-x="345" data-scale="3">
    <div class="top2">
      <h1>Coffee or Tea?</h1>
    </div>
    <div class="bot">
      <button id="yes19" class="btn btn-warning">Yes!</button>
      <button id="no19" class="btn btn-warning">No</button>
    </div>
  </section>
<!-- ============ STEP 20 ================= -->
  <section class="step" data-y="6000" data-z="-1200" data-x="300" data-rotate-y="345" data-rotate-x="" data-scale="1">
    <div class="top2">
      <h1>Because its unhealthy?</h1>
    </div>
    <div class="bot">
      <button id="yes20" class="btn btn-warning">Yes!</button>
      <button id="no20" class="btn btn-warning">No</button>
    </div>
  </section>
  <!-- ============ STEP 21 ================= -->
    <section class="step" data-y="-6000" data-z="-1200" data-x="300" data-rotate-y="345" data-rotate-x="" data-scale="1">
      <div class="top2">
        <h1>Hi! Welcome!</h1>
        <p>Do you like pizza?</p>
      </div>
      <div class="bot">
        <button id="yes21" class="btn btn-warning">Yes!</button>
        <button id="no21" class="btn btn-warning">No</button>
      </div>
    </section>

    <!-- ============ STEP 22 ================= -->
      <section class="step" data-y="3000" data-z="-1200" data-x="300" data-rotate-y="345" data-rotate-x="90" data-scale="1">
        <div class="top2">
          <h1>Are you hungry?</h1>
        </div>
        <div class="bot">
          <button id="yes22" class="btn btn-warning">Yes!</button>
          <button id="no22" class="btn btn-warning">No</button>
        </div>
      </section>

  <!-- ============ STEP 23 ================= -->
    <section class="step" data-y="9000" data-z="-1200" data-x="300" data-rotate-y="345" data-rotate-x="" data-scale="1">
      <div class="top2">
        <h1>Are you thirsty?</h1>
      </div>
      <div class="bot">
        <button id="yes23" class="btn btn-warning">Yes!</button>
        <button id="no23" class="btn btn-warning">No</button>
      </div>
    </section>

    <!-- ============ STEP 24 ================= -->
      <section class="step" data-y="8000" data-z="-6000" data-x="300" data-rotate-y="0" data-rotate-x="" data-scale="1">
        <div class="top2">
          <h1>Do you like beer?</h1>
        </div>
        <div class="bot">
          <button id="yes24" class="btn btn-warning">Yes!</button>
          <button id="no24" class="btn btn-warning">No</button>
        </div>
      </section>

<!-- ============ STEP 25 ================= -->
      <section class="step" data-y="5000" data-z="-1700" data-x="300" data-rotate-y="0" data-rotate-x="" data-scale="2">
        <div class="top2">
          <h1>Do you like games?</h1>
        </div>
        <div class="bot">
          <button id="yes25" class="btn btn-warning">Yes!</button>
          <button id="no25" class="btn btn-warning">No</button>
        </div>
      </section>
      <!-- ============ STEP 26 ================= -->
      <section class="step" data-y="3000" data-z="-1700" data-x="300" data-rotate-y="0" data-rotate-x="" data-scale="2">
        <div class="top2">
          <h1>Games club!</h1>
        </div>
      </section>

      <!-- ============ STEP 27 ================= -->
      <section class="step" data-y="-7000" data-z="-1700" data-x="300" data-rotate-y="0" data-rotate-x="" data-scale="2">
        <div class="top2">
          <h1>Coffee club!</h1>
        </div>
      </section>

      <!-- ============ STEP 28 ================= -->
            <section class="step" data-y="1000" data-z="-1700" data-x="300" data-rotate-y="0" data-rotate-x="" data-scale="-2">
              <div class="top2">
                <h1>Do you hate drinking alone?</h1>
              </div>
              <div class="bot">
                <button id="yes28" class="btn btn-warning">Duh!</button>
                <button id="no28" class="btn btn-warning">No</button>
              </div>
            </section>


        <!-- ============ STEP 29 ================= -->
        <section class="step" data-y="-3000" data-z="-1700" data-x="300" data-rotate-y="0" data-rotate-x="" data-scale="2">
          <div class="top2">
            <h1>Beer club!</h1>
          </div>
        </section>
  <!-- ============ STEP 30 ================= -->
        <section class="step" data-y="-3000" data-z="-3000" data-x="3000" data-rotate-y="0" data-rotate-x="" data-scale="2">
          <div class="top2">
            <h1>Bootcamp club!</h1>
          </div>
        </section>

  <!-- <section class="step" data-y="" data-z="" data-x="6000" data-rotate-y="-1200" data-rotate-x="300" data-scale="2" >
    <img style="height: 800px;width:800px;" src="images/logo.png" alt="">
  </section> -->
<!--
    <div id="bored" class="step slide" data-x="-1000" data-y="-1500">
        <q>Aren’t you just <b>bored</b> with all those slides-based presentations?</q>
    </div>


    <div class="step slide" data-x="0" data-y="-1500">
        <q>Don’t you think that presentations given <strong>in modern browsers</strong> shouldn’t <strong>copy the limits</strong> of ‘classic’ slide decks?</q>
    </div>

    <div class="step slide" data-x="1000" data-y="-1500">
        <q>Would you like to <strong>impress your audience</strong> with <strong>stunning visualization</strong> of your talk?</q>
    </div>


    <div id="title" class="step" data-x="0" data-y="0" data-scale="4">
        <span class="try">then you should try</span>
        <h1>impress.js<sup>*</sup></h1>
        <span class="footnote"><sup>*</sup> no rhyme intended</span>
    </div>


    <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
        <p>It’s a <strong>presentation tool</strong> <br/>
        inspired by the idea behind <a href="http://prezi.com">prezi.com</a> <br/>
        and based on the <strong>power of CSS3 transforms and transitions</strong> in modern browsers.</p>
    </div>

    <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
        <p>visualize your <b>big</b> <span class="thoughts">thoughts</span></p>
    </div>


    <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
        <p>and <b>tiny</b> ideas</p>
    </div>


    <div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
        <p>by <b class="positioning">positioning</b>, <b class="rotating">rotating</b> and <b class="scaling">scaling</b> them on an infinite canvas</p>
    </div>

    <div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
        <p>the only <b>limit</b> is your <b class="imagination">imagination</b></p>
    </div>

    <div id="source" class="step" data-x="6300" data-y="2000" data-rotate="20" data-scale="4">
        <p>want to know more?</p>
        <q><a href="http://github.com/bartaz/impress.js">use the source</a>, Luke!</q>
    </div>

    <div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
        <p>one more thing...</p>
    </div>


    <div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
        <p><span class="have">have</span> <span class="you">you</span> <span class="noticed">noticed</span> <span class="its">it’s</span> <span class="in">in</span> <b>3D<sup>*</sup></b>?</p>
        <span class="footnote">* beat that, prezi ;)</span>
    </div>


    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div> -->

</div>






{% endblock %}
